.header {
  display: flex;
  flex-direction: column;
  padding: 0 2vw;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: white;
  top: 0;
  right: 0;
  left: 0;
  padding-bottom: 10px;

  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 400;
  z-index: 1;
}